@using hbb_ges.EntityLayer.Concrete
@model List<MainPage>
@{
    ViewData["Title"] = "Main";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}




<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Anasayfa</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th colspan="4" style="text-align:center;">Ana Sayfa Metni</th>
                    </tr>
                    <tr>
                        <th>Başlık</th>
                        <th>İçerik</th>
                        <th>Görsel</th>
                        <th>Düzenle</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {
                    <tr>
                        <td>@item.title</td>
                        <td>@item.content</td>
                        <td>@item.image</td>
                        <td><a href="/Admin/EditMain/@item.id/" class="btn btn-info"> <i class="fa fa-edit" /> </a></td>
                    </tr>
                    }
                    <tr>
                        <th colspan="4" style="text-align:center;">Slider Görselleri</th>
                    </tr>
                    <tr>
                        <th>Başlık</th>
                        <th>Alt Başlık</th>
                        <th>Görsel</th>
                        <th>Düzenle</th>
                    </tr>
                    
                    @foreach (var item in ViewBag.slider as List<Slider>)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.SubTitle</td>
                            <td>@item.Image</td>
                            <td><a href="/Admin/EditSlider/@item.Id/" class="btn btn-info"> <i class="fa fa-edit" /> </a></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>

    <br />
</div>



